{% extends "base.html" %}

{% block content %}
    <div id="app">
        <ul v-cloak v-for="article in articles">
        <li>
            <span>
                [[article.created_at|time_format]]
            </span>
        </li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/locale/ja.js"></script>
    <script>
        var vm = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                articles: [],//自分の記事たち
            },
            methods: {
                window:onload  = function() { 
                    axios.get('{% url "error_resolve_app:my_article" %}')//ここでDjangoにアクセス
                    .then(function (response) {
                        for(var d in response.data) {
                            var article = response.data[d];//1つ1つの自分の記事
                            article.created_at = new Date(article.created_at);
                            vm.articles.push(article);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
                    .then(function () {
                    });
                }
            },
            filters: {//日本時間に直す
                time_format: function (date) {
                    return moment(date).format('YYYY/MM/DD HH:mm');// eslint-disable-line
                }
            },
        })


    </script>
{% endblock %}